body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #f4f4f4;
}

.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #fff;
    padding-top: 15px;
    min-height: 50px;
    border-bottom: black 3px solid;
}

header h2{
    padding-bottom: 10px;
    text-align: center;
}

img{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button{
    height: 28px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    background-color: black;
    color: white;
}
.text{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#image-button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#image-button img{
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.img-contain1{
    text-align: center;
    background-color: #000;
    color: #fff;
}

.img-contain2{
    text-align: center;
    background-color: #fff;
    color: #000;
}

/*#image-button #p1{
    text-align: center;
    margin-top: -5px;
    font-weight: 700;
    text-decoration: underline;
}*/

/* #image-button .likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1.5;
    text-align: center;
    color: brown;
    font-size: 16px;
    font-weight: bold;
}
#image-button .likes2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1.5;
    text-align: center;
    color: brown;
    font-size: 16px;
    font-weight: bold;
} */

aside#sidebar{
    float: right;
    max-width: 40%;
    margin-bottom: 10px;
    background-color: #35424a;
    color: #fff;
}

article#main-col{
    float: left;
    max-width: 55%;
    margin-bottom: 10px;
    background-color: #35424a;
    color: #fff;
}

footer{
    padding: 20px;
    margin-top: 10px;
    color: #fff;
    background: #e8491d;
    text-align: center;
}

@media(max-width: 768px){
    article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        max-width: 100%;
    }

    img{
        width: 100%;
        height: auto;
    }
}